<style>
  .message {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message">
  <h3>Olá {{name}}!</h3>
  <br/>
  <p>Recebemos sua solicitação de redefinição de senha</p>
  <p>Faça a alteração pelo link abaixo</p>
  <a href="{{link}}">Resetar minha senha</a>
</div>
